.home-content-a{
    margin: 3% auto;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    text-align: justify;
    padding: 2%;
    font-size: 1.2em;

    color: rgb(233, 233, 233);
    font-size: 1.3em;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-weight: 600;
}

.home-content-a h1{
    font-size: 2em;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.txt-example{
    font-weight: 800;
    color: rgba(0, 0, 0, 0.3);
}

.txt-buscar-vaga{
    font-weight: 500;
    font-size: 1.2em;
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
}

.btn-buscar-vaga{
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

.img_form_pesquisa{
    text-align: center;
}

.img_sites_externos{
    display: flex;
}

.mvv{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 2%;
    color: rgb(0, 0, 0);
    text-shadow: 0px 2px 10px rgb(0, 0, 0);
}
.mvv h2{
    font-weight: 800;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

@media (max-width: 900px) {
    .img_sites_externos{
        display: inline-block;
    }
    .img_sites_externos img{
        width: 100%;
    }
}