.home-footer{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
    text-align: justify;
    padding: 0.5%;
    font-size: 1.2em;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);

    position:relative;
    bottom:-20px;
    width:100%;
}


.footer-react{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
}
.footer-react:hover{
    color: rgb(95, 194, 233);
    text-decoration: none;
}
a:active{
    color: rgba(255, 255, 255, 0.8);
}


.footer-curriculon{
    text-align: center;
    font-size: 1.2em;
}
.footer-curriculon a{
    color: rgba(255, 255, 255, 0.8);
}
.footer-curriculon a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.footer-curriculon:hover span{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 800;
    font-size: 1.1em;
}
.footer-curriculon:hover strong{
    color: transparent;
    font-weight: 800;
    text-shadow: 0px 0px 2.5px rgba(0, 255, 13, 0.781);
}


.footer-bootstrap{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
}
.footer-bootstrap:hover{
    color: rgb(127, 69, 160);
    text-decoration: none;
}


@media (max-width: 600px) {
    .footer-curriculon{
        font-size: 0.9em;
    }
}